
{% block content %} 

<div id="content">
    <div class="banner inside"><div style="background-image:url({{ asset('uploads/images/4.jpg') }});"></div></div>  
    
     <h1>Такой новости нет</h1>
     Нет новости language: {{language}}
	</div> 

{% endblock %}
