

{% block content %} 

    <div style="font-size: 17px; font-weight: bold; border: #000000 solid 1px; padding: 4px; margin-bottom: 3px;">news: </div>


        {% for i, new in data['data'] %}

            {{ i+1 }}.<br>
            {% for plugin in new['data'] %}
                {{ plugin.title }}: {{ plugin.value }}<br>  
            {% endfor %}
            <br>

        {% endfor %}



{% endblock %}
